{% extends 'layouts/form.html' %}
{% block title %}Login{% endblock %}
{% block content %}
  <form action="{{ url_for('login') }}" method="post" class="form">
    <h3 class="form-heading">Bilibili 抽奖助手 </h3>
    {{ form.uid(class_ = 'form-control first-input', placeholder ="uid", required = true, autofocus = true) }}
    {{ form.sessdata(class_ = 'form-control first-input', placeholder ="sessdata", required = true) }}
    {{ form.csrf(class_ = 'form-control last-input', placeholder = "csrf", required = true) }}
    {{ form.tagid(class_ = 'form-control first-input', placeholder ="tagid", required = true) }}
    <br>
    <input type="submit" value="Submit" class="btn btn-primary btn-lg btn-block" enabled>
  </form>
    <br><br>
    <div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion"
                href="#collapseOne">
                这些是什么？
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
                <h4 style="color:#3273AB">uid: b站的用户id</h4>
                <h4 style="color:#3273AB">sessdata&csrf: b站的登录cookie. 转发动态时，需要通过cookie登录自己的b站账号.</h4>
                <h5 style="color:#000000">这两个值在重新登录、浏览器清除缓存等操作之后是会变化的. 登录时并不会检查是否正确，如果后续操作出现报错，有可能就是cookie变了</h5>
                <h4 style="color:#3273AB">tagid: b站关注分组的id. 所有因为抽奖而关注的up将被移到这个分组下，便于取关</h4>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion"
                href="#collapseTwo">
                在哪里能找到？
            </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">
            <h4 style="color:#3273AB">以Chrome为例</h4>
            <h4>1. uid</h4>
            <h5>在b站首页点击自己的头像，进入个人空间。网址最后的一串数字就是uid</h5>
            <h6>例如：space.bilibili.com/433351，433351就是uid</h6>
            <h4>2. sessdata&csrf</h4>
            <h5>第一步：单击左上方的小锁🔒, 点击Cookie</h5>
            <img src="/static/img/1.png">
            <br><h5>第二步：在bilibili.com→Cookie下找到SESSDATA和bili_jct, 其中bili_jct就是csrf</h5>
            <img src="/static/img/2.png">
            <h4>3. tagid</h4>
            <h5>第一步：在个人空间新建关注列表</h5>
            <h5>第二步：点击刚刚创建的分组，网址最后的一串数字就是tagid</h5>
            <h6>例如：https://space.bilibili.com/433351/fans/follow?tagid=329352，329352就是uid</h6>
            <h6></h6>
        </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion"
                href="#collapseThree">
                这安全吗？
                </a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
                <h4 style="color:#3273AB">注意，请不要把sessdata和csrf这两个值泄露给他人，否则可能会被盗号！</h4>
                <h4 style="color:#3273AB">这两个值也不会被系统存储或上传至开发者，请放心</h4>
            </div>
        </div>
    </div>

</div>

{% endblock %}
