<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Homepage</title>

  <link rel="shortcut icon" href="/static/ico/favicon.ico">
  <!-- Custom fonts for this template-->
  <link href="../../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="../../static/css/sb-admin-2.min.css" rel="stylesheet">
  <!-- Page level plugins -->
  <script src="../../static/vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="../../static/vendor/datatables/dataTables.bootstrap4.min.js"></script>
  <script>
    function lotteryAlert()
    {
        alert("点击”确定“将搜索新增的抽奖动态，请耐心等待...\n首次搜索将耗费较长时间\n搜索期间不要刷新或进行任何操作，结束后将自动跳转");
    }
  </script>
  <script>
    function deleteAlert()
    {
        alert("点击”确定“将删除所有已开奖的转发动态并取关设奖的up主\n系统只会取关您为抽奖而设立的分组下的up，其他分组内的up主不会被取关\n由于b站限制过快的操作速度，设置为随机1秒~10秒删除一条。结束后自动跳转");
    }
  </script>
  <script>
    function repostAlert()
    {
        alert("点击”确定“将转发所有抽奖动态\n前后端交互还不太会.. 不想抽的奖请自行到data.csv中，把是否已转发列标为-1\n注意，不能通过excel打开，因为excel会强制转换格式，导致后序操作出错😓。请通过记事本或其他文本编辑软件打开\n由b站限制过快的转发速度，设置为随机30秒~3分钟转发一条。请耐心等待，结束后自动跳转");
    }
  </script>
</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ url_for("home") }}">
{#        <div class="sidebar-brand-icon">#}
{#          <i class="fas fa-hospital"></i>#}
{#        </div>#}
        <div class="sidebar-brand-text">Bilibili 抽奖助手</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for("home") }}">
          <i class="fas fa-fw fa-hospital-symbol"></i>
          <span>主页</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

        <!-- Nav Item - Admissions Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="{{ url_for("lottery") }}" onclick="lotteryAlert()">
          <i class="fas fa-fw fa-calendar-plus"></i>
          <span>搜索抽奖</span>
{#          <input type="button"  >#}
        </a>
      </li>

      <!-- Nav Item - Patients Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="{{ url_for("record") }}">
          <i class="fas fa-fw fa-heart"></i>
          <span>抽奖记录</span>
        </a>
      </li>
      <!-- Nav Item - Prescription Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="{{ url_for("repost") }}" onclick="repostAlert()">
          <i class="fas fa-fw fa-stethoscope"></i>
          <span>一键转发</span>
        </a>
      </li>

      <!-- Nav Item - Admissions Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="{{ url_for("unfollow_and_delrepo") }}" onclick="deleteAlert()">
          <i class="fas fa-fw fa-users"></i>
          <span>一键清除</span>
        </a>
      </li>

      <!-- Nav Item - Admissions Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="{{ url_for("info") }}">
          <i class="fas fa-fw fa-users"></i>
          <span>常见问题</span>
        </a>
      </li>
      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
                <a class="dropdown-item" href="{{ url_for("home") }}" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
             </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
{##}
{#          <!-- Page Heading -->#}
{#          <div class="d-sm-flex align-items-center justify-content-between mb-4">#}
{#            <h1 class="h3 mb-0 text-gray-800">主页 To Be Continued，登录&页面跳转&增删改查的前后端做好了；之后写点提高容错率的代码，再优化一下数据库结构，还想再做点图表</h1>#}
{##}
{#          </div>#}
{##}
          <!-- Content Row -->
          <div class="row">
              <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">今日新增数</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ new_lottery_number }}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-heart fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">今日开奖数</div>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ today_closed_lottery_number }}</div>
                        </div>

                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-eye fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">参与抽奖数</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total }}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-user fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">总抽奖动态</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ all }}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Content Row -->

          <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-7">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">最近新增</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                        <th>up主</th>
                        <th>奖品</th>
                        <th>开奖时间</th>
                        <th>链接</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                        <th>up主</th>
                        <th>奖品</th>
                        <th>开奖时间</th>
                        <th>链接</th>
                    </tr>
                  </tfoot>
                    <tbody>
                    {% for item in new_lottery %}
                    <tr>
                      <td>{{ item[1][2] }}</td>
                      <td>{{ item[1][5] }}</td>
                      <td>{{ item[1][3] }}</td>
                      <td>{{ item[1][7] }}</td>
                    </tr>
                    {% endfor %}

                  </tbody>
                    </table>
                  </div>
            </div></div>
            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-7">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">今日开奖</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                    <tr>
                        <th>up主</th>
                        <th>奖品</th>
                        <th>开奖时间</th>
                        <th>链接</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                        <th>up主</th>
                        <th>奖品</th>
                        <th>开奖时间</th>
                        <th>链接</th>
                    </tr>
                  </tfoot>
                    <tbody>
                    {% for item in today_closed_lottery %}
                    <tr>
                      <td>{{ item[1][2] }}</td>
                      <td>{{ item[1][5] }}</td>
                      <td>{{ item[1][3] }}</td>
                      <td>{{ item[1][7] }}</td>
                    </tr>
                    {% endfor %}

                  </tbody>
                    </table>
                  </div>
            </div></div>
        </div>
{#        <!-- /.container-fluid -->#}
{##}
      </div>
      <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="{{ url_for("index") }}">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="../../static/vendor/jquery/jquery.min.js"></script>
  <script src="../../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="../../static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="../../static/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="../../static/vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="../../static/js/demo/chart-area-demo.js"></script>
  <script src="../../static/js/demo/chart-pie-demo.js"></script>
  </div>
</body>

</html>
